*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html,body {
    width: 100vw;
    min-height: 100vh;
    font-family: arial,sans-serif;
}
h1{
    font-size: 42px;
    color: black;
    font-weight: 600px;
}
.container {
    width: 65%;
    margin: 0 auto;
}
nav {
    background-color:#eaeaea;
}
.nav-container{
    display: flex;
    padding: 30px 0;
    align-items: center;
    
}
.brand-logo {
    width: 150px;
    
}
.brand-logo img {
    width: 100%;
    height: auto;

}
.nav-items{
    margin-left: auto;
}
.nav-items ul {
    display: flex;

}
.nav-items li {
  margin-left: 30px;  
  padding: 10px;
}
.nav-items li:hover{
    border-bottom: 5px solid salmon;
}

.nav-items a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.btn{
    background-color: tomato;
    border-radius: 5px;
}
.btn a{
    color:white;
}
hr.footer {
    border-top: 1px solid #eaeaea;
    margin: 0;
}
main{
    padding: 50px 0;
}
.icons{
    font-size: 3em;
    
}
p{
    color: black;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 20px;
}
footer{
    padding: 20px 0;
}
hr.home{
    margin:25px 0;
}
.blog-cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
}
.blog-card-items{
    overflow:hidden;
}
.img{
    width: 100%;
    
}

.img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}



